# Pi-hole environment configuration (example for manual setup)

# FTLconf Web-server API password
WEBPASSWORD=super-secret-password

# Absolute host path for Docker bind volume (ZFS mountpoint)
PIHOLE_DATA_VOLUME=/tank/docker/data/Pihole
